# Ignore everything
/*

# Not these files
!/.editorconfig
!/.eslintrc.js
!/.gitattributes
!/.gitignore
!/craco.config.js
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.json

# Not these directories
!/public
!/src
